.theme {
  --icons:var(--light-icons); --navigation:var(--light-navigation); --cardBorder:var(--light-cardBorder); --mutedText:var(--light-mutedText);
  --background:var(--light-background); --surface:var(--light-surface); --text:var(--light-text); --heading:var(--light-heading); --link:var(--light-link); --border:var(--light-border);
  --button:var(--light-button); --buttonText:var(--light-buttonText); --calendar:var(--light-calendar); --calendarText:var(--light-calendarText); --selected:var(--light-selected); --selectedText:var(--light-selectedText);
  --light-logo-display:block; --dark-logo-display:none; color-scheme:light;
}
.theme[data-theme-mode='dark'] {
  --icons:var(--dark-icons); --navigation:var(--dark-navigation); --cardBorder:var(--dark-cardBorder); --mutedText:var(--dark-mutedText);
  --background:var(--dark-background); --surface:var(--dark-surface); --text:var(--dark-text); --heading:var(--dark-heading); --link:var(--dark-link); --border:var(--dark-border);
  --button:var(--dark-button); --buttonText:var(--dark-buttonText); --calendar:var(--dark-calendar); --calendarText:var(--dark-calendarText); --selected:var(--dark-selected); --selectedText:var(--dark-selectedText);
  --light-logo-display:none; --dark-logo-display:block; color-scheme:dark;
}
@media (prefers-color-scheme:dark) {
  .theme[data-theme-mode='system'] {
    --icons:var(--dark-icons); --navigation:var(--dark-navigation); --cardBorder:var(--dark-cardBorder); --mutedText:var(--dark-mutedText);
  --background:var(--dark-background); --surface:var(--dark-surface); --text:var(--dark-text); --heading:var(--dark-heading); --link:var(--dark-link); --border:var(--dark-border);
    --button:var(--dark-button); --buttonText:var(--dark-buttonText); --calendar:var(--dark-calendar); --calendarText:var(--dark-calendarText); --selected:var(--dark-selected); --selectedText:var(--dark-selectedText);
    --light-logo-display:none; --dark-logo-display:block; color-scheme:dark;
  }
}
.theme[data-theme-contrast='high'] {
  --icons:#ffffff; --navigation:#ffff00; --cardBorder:#ffffff; --mutedText:#ffffff;
  --background:#000000; --surface:#000000; --text:#ffffff; --heading:#ffffff; --link:#ffff00; --border:#ffffff; --button:#ffffff; --buttonText:#000000;
  --calendar:#000000; --calendarText:#ffffff; --selected:#ffff00; --selectedText:#000000; --light-logo-display:none; --dark-logo-display:block; color-scheme:dark;
}
@media (forced-colors:active) {
  .theme[data-theme-mode][data-theme-contrast] {--icons:CanvasText; --navigation:ButtonText; --cardBorder:ButtonText; --mutedText:CanvasText; --background:Canvas; --surface:Canvas; --text:CanvasText; --heading:CanvasText; --link:LinkText; --border:ButtonText; --button:ButtonFace; --buttonText:ButtonText; --calendar:Canvas; --calendarText:CanvasText; --selected:Highlight; --selectedText:HighlightText;}
}
